<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>

<body>


<div class="container">
    <div class="login_form">
       <form action="index.html" th:action="@{/login}" class="form-horizontal" method="post"  role="form" id="loginForm">
       	    <div class="row form-group" style="margin-top:15px">
       	    	<h2 >请登录</h2>
       	    </div>
            <div class="row form-group">
              <label  class="control-label" for="username">用户名:</label>
                <div class="col-sm-3"><input id="username" value="" name="username" type="text" class="form-control" autocomplete="off" placeholder="您的用户名"></div>
            </div>


           <div class="row form-group">
               <label  class="control-label" for="password">密&nbsp;&nbsp;&nbsp;码:</label>
               <div class="col-sm-3"> <input id="password" value="" name="password" type="password" class="form-control" placeholder="登录密码"></div>

           </div>



           <div class="row form-group">

               <label for="checkCode" class="control-label">验证码:</label>
               <div class="col-sm-2"><input id="checkCode" name="checkCode" type="text" class="form-control" ></div>
               <div class="col-sm-1"><img onclick="reloadImg();" style="cursor: pointer;height: 35px" th:src="@{/images/imagecode}" id="validateImg" alt="验证码" title="验证码。点击此处更新验证码。"/></div>

           </div>

           <div class="row form-group">
           	   <div class="col-sm-1"></div>
               <div class="col-sm-10">
                   <div class="check-box"><label><input type="checkbox" name="remember-me">记住登陆账号</label></div>
               </div>
           </div>
           <div class="row form-group">
           	<div class="col-sm-1"></div>
               <div class="col-sm-10">
                   <button type="button" onclick="verSubmit()"  id="submit_btn" class="loginBtn">&nbsp;登&nbsp;录&nbsp; </button>

               </div>
           </div>
           <div class=" col-md-5" th:if="${loginError}">
               <p class="blog-label-error" th:text="${errorMsg}"></p>
           </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">...</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
